# Node.js and npm
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Temporary files and directories
tmp/
temp/
.cache
.nyc_output
.DS_Store # macOS specific

# Debugging and testing
.vscode/launch.json
.vscode/settings.json
test/reports/
coverage/

# Editor and IDE files
.idea/      # IntelliJ IDEA
.vscode/    # VS Code
.DS_Store # macOS Finder store

build/
dist/
uploads/
